body {
    margin: 0;
    background: dodgerblue;
    font: normal 15pt Arial;
}
header {
    text-align: center;
    color: ghostwhite;
}
section {
    background: gainsboro;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(51, 49, 49);
    padding: 60px 50px;
    width: 500px;
    margin: auto;
}
div {
    text-align: center;
    padding: 25px 20px 25px 25px;
}
footer {
    text-align: center;
    color: ghostwhite;
    font-style: italic;
}