body {
    background: lightskyblue;
}
h1 {
    text-align: center;
}
section {
    background: linen;
    margin: auto;
    border-radius: 10px;
    padding: 150px 40px;
    box-shadow: 5px 5px 10px rgb(27, 26, 26);


}